<!DOCTYPE html>
<html lang="en">
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta charset="UTF-8">

    <title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    #box-container {
        margin: 80px;
        width:400px;
        border:1px solid #000;
    }
    #box{
        background: rgb(240, 192, 240);
    }
    .a{
        text-align: center;
    }
</style>
</head>
<body id="box-container" class="a"  >
    <div id="box">

            <button type="button" id="btn" onClick="logout()"> LOGOUT </button>
            
            <div >
            <a href="/home">HOME</a>
                
                    <h1>USER PROFILE</h1>
            
                    name:<span id="uname"></span>
            
                    <br>
            
                    email:<span id="uemail"></span>
            
                </div>
    </div>




    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>  
    <script src="/javascript/profile.js"></script> 
    <script src="/javascript/contactlist.js"></script> 
</body>
</html>